body, html {
    height: 100%;
}

.blue-backdrop {
    width: 100%;
    background: linear-gradient(-50deg, #1D8FE1 30%, #19AAF0 50%, #1D8FE1 70%);
    animation: flowing-animation 7.5s linear infinite;
    background-size: 1920px 100%;
}

@keyframes flowing-animation {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 1920px;
    }
}
